
@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  background-color: #0aa;
font-family: Roboto;
}
.center{
  text-align: center;
}
a{
padding: 0 10px 0 10px;
}
.gButton{
background-color: #0ee;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
div{
  background-color: #0cc;
  padding: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
