@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  background-color: #099;
font-family: Roboto;
}
.center{
  text-align: center;
}
a{
padding: 0 10px 0 10px;
}
.gButton{
background-color: #0ff;
text-decoration: none;
padding: 10px;
margin: 10px;
border-style: solid;
border-color: black;
border-width: 2px;
border-radius: 8px;
}
div{
  background-color: #0cc;
  padding: 30px;
  margin:60px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
}
a{
  text-decoration :none;
}
