@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  background-color: #0aa;
font-family: Roboto;
}
.center{
  text-align: center;
}
a{
padding: 0 10px 0 10px;
}
.gButton{
background-color: #4AC0C0;
    text-decoration: none;
}