@import url('https://fonts.googleapis.com/css?family=VT323|Slabo+27px');

#titleText{
  font-family: 'VT323';
  position: absolute;
}#titleStart{
  font-family: 'VT323';
position: absolute;
}
#canvas{
border: 5px solid black;
  top:0
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  margin:auto;
}
body{

}
